spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
  mail:
    from: ${MAIL_FROM}

server:
  port: 8080


frontend:
  url: ${FRONTEND_URL}

brevo:
  api:
    key: ${BREVO_API_KEY}
