spring:
  config:
    import: optional:file:.env
  datasource:
    url: jdbc:postgresql://localhost:5432/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
  mail:
    from: ${MAIL_FROM:noreply@example.com}

server:
  port: 8080


frontend:
  url: http://localhost:3000

brevo:
  api:
    key: ${BREVO_API_KEY}
